{% extends "semijoin/base.html" %} {% block content %} {% load static %}
<div class="row">
    {% for table in info %}
    <div class="col-sm-4">
        <h6 class="alert alert-success fs-6">DB:- {{table.db}}
            <span class="float-end fs-6">Table:- {{table.name}}</span>
        </h6>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    {% for col in table.columns %}
                        <th scope="col">{{col}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table.rows %}
                    <tr>
                        {% for i in row %}
                            <td scope="row">{{i}}</th>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4">
            <select name="table" id="child" class="form-control my-2">
                <option value="seller" selected>Seller</option>
                <option value="type">Type</option>>
            </select>
        </div>
        <div class="col-sm-4">
            <input type="submit" name = "action" value="SemiJoin" class="btn btn-success my-2 mr-2">
        </div>
    </div>
</form>
{% endblock content%}